.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.card{
    position: relative;
    width: 350px;
    height: 180px;
    background-color: #fff;
    transition: 0.5s;
}

.card:hover{
    height: 450px;
}

.card_lines{
    position: absolute;
    inset: 0;
    background-color: #000;
    overflow: hidden;
}

.card_lines::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: 120px;
    background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
    animation: animate 4s linear infinite;
    animation-play-state: paused;
}

.card:hover .card_lines::before{
    animation-play-state: running;
}

@keyframes animate{
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.card_lines::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}

.card_imgBox{
    position: absolute;
    top: -60px;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .card_imgBox{
    top: 25px;
    width: 250px;
    height: 250px;
}

.card_imgBox::before{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
    animation: animate2 6s linear infinite;
    animation-play-state: paused;
}

.card:hover .card_imgBox::before{
    animation-play-state: running;
}

@keyframes animate2{
    0%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
}

.card_imgBox::after{
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}